.add-ride-ul { 
    list-style: none; 
    padding-left: 0; 
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    text-align: left; 
    
}

.add-ride-li {
    width: 100%; 
    display: flex; 
    justify-content: center;
    margin: auto; 
    margin-bottom: 1rem; 
}

.add-ride-input { 
    margin-left: 1rem; 
}

label {  
    width: 30%; 
}